<md-card class="big-card flex-stack-card">
  <md-card-title>Game</md-card-title>
  <md-card-content>
    <ultimate-tic-tac-toe [game]="game" (onMove)="respond($event)"></ultimate-tic-tac-toe>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="primary" (click)="reset()">Reset</button>
    <button md-raised-button color="primary" (click)="runAiMove()">Run AI Move</button>
    <button md-raised-button color="primary" (click)="runAiGame()">Run AI Game</button>
    <md-checkbox [(ngModel)]="automove">Automove</md-checkbox>
  </md-card-actions>
</md-card>

