<mat-card class="big-card flex-stack-card">
  <mat-card-title>Distribution Config</mat-card-title>
  <mat-card-content>
    <mat-form-field *ngFor="let parameter of distr.parameters">
      <input  [(ngModel)]="distr[parameter.val]" [placeholder]="parameter.title" [max]="parameter.max" [min]="parameter.min" type="number">
    </mat-form-field>
  </mat-card-content>
</mat-card>

<mat-card class="big-card flex-stack-card">
  <mat-card-title>Results</mat-card-title>
  <mat-card-content>
    <p>Probability Mass: {{distr.probabilityMassFunction() | number}}</p>
    <p>Cumulative Distribution: {{distr.cumulativeDistributionFunction() | number}}</p>
    <p>Variance: {{distr.variance() | number}}</p>
  </mat-card-content>
</mat-card>
