<mat-card class="big-card flex-stack-card">
  <mat-card-title>Data Generation</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input  [(ngModel)]="pointCount" placeholder="Point Count" type="number">
    </mat-form-field>
    <mat-form-field>
      <input  [(ngModel)]="lineCount" placeholder="Line Count" type="number">
    </mat-form-field>
    <mat-form-field>
      <input  [(ngModel)]="noise" placeholder="Noise" type="number">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="generate()">Generate Points</button>
  </mat-card-actions>
</mat-card>

<mat-card class="big-card flex-stack-card">
  <mat-card-title>Algorithm</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input  [(ngModel)]="lineCost" placeholder="Line Cost" type="number">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="fit()">Fit Lines</button>
  </mat-card-actions>
</mat-card>

<mat-card class="big-card flex-stack-card">
  <mat-card-title>
    Graph
  </mat-card-title>
  <mat-card-content>
    <app-scatter-plot [size]="graphSize" [data]="points" [lines]="lines" [maxValX]="max" [maxValY]="max" ></app-scatter-plot>
  </mat-card-content>
</mat-card>