<md-toolbar color="primary">
  <button class="app-icon-button" (click)="start.toggle()"><md-icon class="app-toolbar-menu">menu</md-icon></button>
  <span>Will's C.S Sideprojects</span>

  <span class="fill-remaining-space"></span>

  <button md-icon-button *ngIf="help.helpUrl" (click)="gotoHelp()" md-tooltip="Help">
      <md-icon>help</md-icon>
  </button>

  <button md-icon-button (click)="feedback()" md-tooltip="Feedback">
      <md-icon>feedback</md-icon>
  </button>

</md-toolbar>

<md-sidenav-layout>
  <md-sidenav #start mode="side" class="app-sidenav">
    <h2>Navigation</h2>
    <br>
    <md-list class="nav-list">

      <md-list-item>
        <a md-line routerLink="/" routerLinkActive="active">
          <button md-button (click)="start.close()" routerLink="/" routerLinkActive="active">
          <md-icon>home</md-icon> Home
        </button>
        </a>
      </md-list-item>
      <md-list-item>
        <a md-line routerLink="/cache" routerLinkActive="active">
          <button md-button (click)="start.close()">
            <md-icon>storage</md-icon> Cache Simulator
          </button>
        </a>
      </md-list-item>
      <md-list-item>
        <a md-line routerLink="/pipe" routerLinkActive="active">
          <button md-button (click)="start.close()">
           <md-icon>clear_all</md-icon> Pipeline Simulator
          </button>
        </a>
      </md-list-item>
      <md-list-item>
        <a md-line routerLink="/graph" routerLinkActive="active">
          <button md-button (click)="start.close()">
            <md-icon>search</md-icon> Graph Search
          </button>
        </a>
      </md-list-item>
      <md-list-item>
        <a md-line routerLink="/ai-games" routerLinkActive="active">
          <button md-button (click)="start.close()">
            <md-icon>games</md-icon> Minimax
          </button>
        </a>
      </md-list-item>
      <md-list-item>
        <a routerLink="/stable-marriage" routerLinkActive="active">
          <button md-button (click)="start.close()">
            <md-icon>group</md-icon> Stable Marriage
          </button>
        </a>
      </md-list-item>
      <md-list-item>
        <a md-line routerLink="/set-algebra" routerLinkActive="active">
          <button md-button (click)="start.close()">
            <md-icon>code</md-icon> Set Membership Table
          </button>
        </a>
      </md-list-item>
      <!--
      <md-list-item> 
        <button md-button #closeStartButton (click)="start.close()">Close</button>
      </md-list-item>
      -->
    </md-list>
  </md-sidenav>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>


</md-sidenav-layout>