<mat-toolbar color="primary">
  <button class="app-icon-button" (click)="start.toggle()"><mat-icon class="app-toolbar-menu">menu</mat-icon></button>
  <span>Will's C.S Sideprojects</span>

  <span class="fill-remaining-space"></span>

  <button mat-icon-button *ngIf="help.helpUrl" (click)="gotoHelp()" matTooltip="Help">
      <mat-icon>help</mat-icon>
  </button>

  <button mat-icon-button (click)="feedback()" matTooltip="Feedback">
      <mat-icon>feedback</mat-icon>
  </button>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #start mode="side" class="app-sidenav">
    <h2>Navigation</h2>
    <br>
    <mat-list class="nav-list">

      <mat-list-item>
        <a mat-line routerLink="/" routerLinkActive="active">
          <button mat-button (click)="start.close()" routerLink="/" routerLinkActive="active">
          <mat-icon>home</mat-icon> Home
        </button>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a mat-line routerLink="/cache" routerLinkActive="active">
          <button mat-button (click)="start.close()">
            <mat-icon>storage</mat-icon> Cache Simulator
          </button>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a mat-line routerLink="/pipe" routerLinkActive="active">
          <button mat-button (click)="start.close()">
           <mat-icon>clear_all</mat-icon> Pipeline Simulator
          </button>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a mat-line routerLink="/graph" routerLinkActive="active">
          <button mat-button (click)="start.close()">
            <mat-icon>search</mat-icon> Graph Search
          </button>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a mat-line routerLink="/ai-games" routerLinkActive="active">
          <button mat-button (click)="start.close()">
            <mat-icon>games</mat-icon> Minimax
          </button>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/stable-marriage" routerLinkActive="active">
          <button mat-button (click)="start.close()">
            <mat-icon>group</mat-icon> Stable Marriage
          </button>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a mat-line routerLink="/set-algebra" routerLinkActive="active">
          <button mat-button (click)="start.close()">
            <mat-icon>code</mat-icon> Set Membership Table
          </button>
        </a>
      </mat-list-item>
      <!--
      <mat-list-item> 
        <button mat-button #closeStartButton (click)="start.close()">Close</button>
      </mat-list-item>
      -->
    </mat-list>
  </mat-sidenav>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>


</mat-sidenav-container>