.set-membership-table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

.set-membership-table th {
    border-bottom: 2px solid gray;
    padding-right:2px;
    padding-left:2px;
}

.set-membership-table td {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 0.5px solid lightgray;
}