<div class="row"></div>
<md-card class="big-card flex-stack-card">
  <md-card-title>Cache Configuraiton</md-card-title>
  <md-card-content>
    <md-list> 
    
      <md-list-item>
      <label> Address Size:
        <app-memory-unit-editor [(value)]="config.addressSize"></app-memory-unit-editor>
      </label>
      </md-list-item>

      <md-list-item>
      <label> Minimum Addressable Unit
        <app-memory-unit-editor [(value)]="config.minimumAddressableUnit"></app-memory-unit-editor>
      </label>
      </md-list-item>
      
      <md-list-item>
      <label> Cache Size:
          <app-memory-unit-editor [(value)]="config.cacheSize"></app-memory-unit-editor>
      </label>
      </md-list-item>
      
      <md-list-item>
      <label> Block Size:
          <app-memory-unit-editor [(value)]="config.blockSize"></app-memory-unit-editor>
      </label>
      </md-list-item>

      <md-list-item>
      <label>Blocks per Set (1 for direct mapping):
        <md-input type="number" [(ngModel)] = "config.setSize"></md-input>
      </label>
      </md-list-item>

      <md-list-item>
      <label>Use LRU Policy (false for FIFO)
        <md-checkbox [(ngModel)] = "config.lruPolicy"></md-checkbox>
      </label>
      </md-list-item>

    </md-list> 
  </md-card-content>
</md-card>

<md-card class="big-card flex-stack-card">
  <md-card-title>Memory Access Input</md-card-title>
  <md-card-content>
    <table>
      <thead>
        <tr>
          <th>Address</th>
          <th>Is a Write</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let access of accesses; let i = index">
          <td>
            <app-radixed-value-editor (onValueChange)="accesses[i].address = $event" [value]="getAddress(i)"></app-radixed-value-editor>
          </td>
          <td>
            <md-checkbox [(ngModel)]="access.isWrite"></md-checkbox>
          </td>
          <td><button md-raised-button color="warn" (click)="deleteAccess(index)">Delete Access</button></td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="primary" (click)="addAccess()">Add Memory Access</button>
    <button md-raised-button color="primary" (click)="runSimulationStep()">Run Step</button>
    <button md-raised-button color="primary" (click)="runSimulation()">Run Simulation</button>
  </md-card-actions>
</md-card>

<md-card class="big-card flex-stack-card">
  <md-card-title>Address Allocation</md-card-title>
  <md-card-content>
    <md-list> 
      <md-list-item>Tag Size: {{config.getTagSize().toString()}}</md-list-item>
      <md-list-item>Index Size: {{config.indexSize}}</md-list-item>
      <md-list-item>Offset Size: {{config.offsetSize}}</md-list-item>
    </md-list>
  </md-card-content>
</md-card>



<md-card class="big-card flex-stack-card">
  <md-card-title>Set Information</md-card-title>
  <md-card-content>
    <md-list> 
      <md-list-item>Number of Sets: {{config.getSetCount()}}</md-list-item>
      <md-list-item>Blocks Per Set: {{config.setSize}}</md-list-item>
      <md-list-item>Total Blocks: {{config.getBlockCount()}}</md-list-item>
    </md-list>
  </md-card-content>
</md-card>

<md-card class="big-card flex-stack-card">
  <md-card-title>Results</md-card-title>
  <md-card-content>
    <table class="table">
      <thead>
        <tr>
          <th>Address</th>
          <th>Request Type</th>
          <th>Cacheline Index</th>
          <th>Hit or Miss?</th>
          <th>Modified</th>
          <th>Tag</th>
          <th>Data</th>
          <th>Caused Replace</th>
          <th>Write Back to memory?</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of results">
          <td>
            <span md-tooltip="{{result.access.address | allRadix}}">{{result.access.address | radix : 16}}</span>
          </td>
          <td>{{result.access.isWrite ? 'write' : 'read' }}</td>
          <td>
            <span md-tooltip="{{result.cacheIndex | allRadix}}">{{result.cacheIndex | radix : 16}}</span>
          </td>
          <td>{{result.isHit ? 'hit' : 'miss'}}</td>
          <td>{{result.modified ? 1 : 0}}</td>
          <td>
            <span md-tooltip="{{result.tag | allRadix}}">{{result.tag | radix : 16}}</span>
          </td>
          <td>
            <span md-tooltip="{{result.data| allRadix}}">{{result.access.isWrite ? 'D' : 'M' }} [{{result.data | radix : 16}}]</span>
          </td>
          <td>{{result.causedReplace ? 'yes' : 'no'}}</td>
          <td>{{result.writeBack ? 'yes' : 'no'}}</td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
</md-card>

<md-card class="big-card flex-stack-card">
  <md-card-title>Cache Status</md-card-title>
  <md-card-content>
    <table class="table">
      <thead>
        <tr>
          <th>Set Index</th>
          <template ngFor let-block [ngForOf]="sparseCacheLongestSet">
            <th class="lr">V</th>
            <th>M</th>
            <th>Tag</th>
          </template>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let set of sparseCache; let i = index">
          <td>
            <span md-tooltip="{{getIndex(set) | allRadix}}">{{sparseCacheIndexes[i] | radix : 16}}</span>
          </td>
          <template ngFor let-block [ngForOf]="getIntrestingBlocks(set)">
            <td class="lr">{{block.valid ? 1 :0}}</td>
            <td>{{block.modified ? 1 : 0}}</td>
            <td><span md-tooltip="{{block.tag | allRadix}}">{{block.tag | radix : 16}}</span></td>
          </template>
        </tr>
      </tbody>
    </table>
  </md-card-content>
</md-card>
