<mat-card class="big-card flex-stack-card">
  <mat-card-title>Cache Configuraiton</mat-card-title>
  <mat-card-content class="flex-container">
    <table>
      <tbody>
        <tr>
          <td> Address Size</td>
          <td>
            <app-memory-unit-editor [(value)]="config.addressSize"></app-memory-unit-editor>
          </td>
        </tr>
        <tr>
          
          <td> Minimum Addressable Unit</td>
          <td>
            <app-memory-unit-editor [(value)]="config.minimumAddressableUnit"></app-memory-unit-editor>
          </td>
        </tr>
        <tr>
          <td> Cache Size</td>
          <td>
            <app-memory-unit-editor [(value)]="config.cacheSize"></app-memory-unit-editor>
          </td>
        </tr>
        <tr>
          <td> Block Size</td>
          <td>
            <app-memory-unit-editor [(value)]="config.blockSize"></app-memory-unit-editor>
          </td>
        </tr>
        <tr>
          <td>Blocks per Set (1 for direct mapping)</td>
          <td>
            <mat-form-field><input mdInput type="number" [(ngModel)]="config.setSize"></mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Use LRU Policy (false for FIFO)</td>
          <td>
            <mat-checkbox [(ngModel)]="config.lruPolicy"></mat-checkbox>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

<mat-card class="big-card flex-stack-card">
  <mat-card-title>Memory Access Input</mat-card-title>
  <mat-card-content>
    <table>
      <thead>
        <tr>
          <th>Address</th>
          <th>Is a Write</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let access of accesses; let i = index">
          <td>
            <app-radixed-value-editor (onValueChange)="accesses[i].address = $event" [value]="getAddress(i)"></app-radixed-value-editor>
          </td>
          <td>
            <mat-checkbox [(ngModel)]="access.isWrite"></mat-checkbox>
          </td>
          <td><button mat-raised-button color="warn" (click)="deleteAccess(index)">Delete Access</button></td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="addAccess()">Add Memory Access</button>
    <button mat-raised-button color="primary" (click)="runSimulationStep()">Run Step</button>
    <button mat-raised-button color="primary" (click)="runSimulation()">Run Simulation</button>
  </mat-card-actions>
</mat-card>

<mat-card class="big-card flex-stack-card">
  <mat-card-title>Address Allocation</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item>Tag Size: {{config.getTagSize().toString()}}</mat-list-item>
      <mat-list-item>Index Size: {{config.indexSize}}</mat-list-item>
      <mat-list-item>Offset Size: {{config.offsetSize}}</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card class="big-card flex-stack-card">
  <mat-card-title>Set Information</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item>Number of Sets: {{config.getSetCount()}}</mat-list-item>
      <mat-list-item>Blocks Per Set: {{config.setSize}}</mat-list-item>
      <mat-list-item>Total Blocks: {{config.getBlockCount()}}</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card class="big-card flex-stack-card">
  <mat-card-title>Results</mat-card-title>
  <mat-card-content>
    <table class="table">
      <thead>
        <tr>
          <th>Address</th>
          <th>Request Type</th>
          <th>Cacheline Index</th>
          <th>Hit or Miss?</th>
          <th>Modified</th>
          <th>Tag</th>
          <th>Data</th>
          <th>Caused Replace</th>
          <th>Write Back to memory?</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of results">
          <td>
            <span matTooltip="{{result.access.address | allRadix}}">{{result.access.address | radix : 16}}</span>
          </td>
          <td>{{result.access.isWrite ? 'write' : 'read' }}</td>
          <td>
            <span matTooltip="{{result.cacheIndex | allRadix}}">{{result.cacheIndex | radix : 16}}</span>
          </td>
          <td>{{result.isHit ? 'hit' : 'miss'}}</td>
          <td>{{result.modified ? 1 : 0}}</td>
          <td>
            <span matTooltip="{{result.tag | allRadix}}">{{result.tag | radix : 16}}</span>
          </td>
          <td>
            <span matTooltip="{{result.data| allRadix}}">{{result.access.isWrite ? 'D' : 'M' }} [{{result.data | radix : 16}}]</span>
          </td>
          <td>{{result.causedReplace ? 'yes' : 'no'}}</td>
          <td>{{result.writeBack ? 'yes' : 'no'}}</td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

<mat-card class="big-card flex-stack-card">
  <mat-card-title>Cache Status</mat-card-title>
  <mat-card-content>
    <table class="table">
      <thead>
        <tr>
          <th>Set Index</th>
          <ng-template ngFor let-block [ngForOf]="sparseCacheLongestSet">
            <th class="lr">V</th>
            <th>M</th>
            <th>Tag</th>
          </ng-template>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let set of sparseCache; let i = index">
          <td>
            <span matTooltip="{{sparseCacheIndexes[i] | allRadix}}">{{sparseCacheIndexes[i] | radix : 16}}</span>
          </td>
          <ng-template ngFor let-block [ngForOf]="getIntrestingBlocks(set)">
            <td class="lr">{{block.valid ? 1 :0}}</td>
            <td>{{block.modified ? 1 : 0}}</td>
            <td><span matTooltip="{{block.tag | allRadix}}">{{block.tag | radix : 16}}</span></td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>