<md-card class="big-card flex-stack-card">
  <md-card-title>Men’s Preferences </md-card-title>
  <md-card-content>
    <md-list>
      <md-list-item *ngFor="let prefs of mensPrefs; let man = index;">
        <span>{{mensNames[man]}}: &nbsp;</span>
        <span *ngFor="let woman of prefs;">{{womansNames[woman]}} &nbsp; </span>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>

<md-card class="big-card flex-stack-card">
  <md-card-title>Women’s Preferences</md-card-title>
  <md-card-content>
    <md-list>
      <md-list-item *ngFor="let prefs of womansPrefs; let woman = index;">
        <span>{{womansNames[woman]}}: &nbsp;</span>
        <span *ngFor="let man of prefs;"> {{mensNames[man]}} &nbsp; </span>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>

<md-card class="big-card flex-stack-card">
  <md-card-title>Algorithm</md-card-title>
  <md-card-content>
    <md-checkbox [(ngModel)]="womenPropose">Women Propose</md-checkbox>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="primary" (click)="makeRandomPairs()">Generate</button> <md-input placeholder="number" [(ngModel)]="randomPairCount"></md-input> Random pairs
    <button md-raised-button color="primary" (click)="runGaleShapley()">Run Gale-Shapley</button>
  </md-card-actions>

</md-card>


<md-card class="big-card flex-stack-card">
  <md-card-title>Results</md-card-title>
  <md-card-content>
    <md-list>
      <md-list-item> Average Result: {{totalAverage | number}}</md-list-item>
      <md-list-item> Men's Average Result: {{mensAverage}}</md-list-item>
      <md-list-item> Women's Average Result: {{womensAverage}}</md-list-item>
      <md-list-item *ngFor="let man of pairings; let woman = index;">
        <span>{{womansNames[woman]}} ({{mensNames[man]}}'s {{mensPairingValues[man] | ordinal }} choice) </span>
        <span> &nbsp; and &nbsp; </span>
        <span>{{mensNames[man]}} ({{womansNames[woman]}}'s {{womensPairingValues[woman] | ordinal }} choice)</span>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>