<mat-card class="big-card flex-stack-card">
  <mat-card-title>Graph Input</mat-card-title>
  <mat-card-subtitle>Edit links</mat-card-subtitle>
  <mat-card-content>
    <table>
      <thead>
        <tr>
          <th colspan="3"></th>
          <th>Directed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let link of links">
          <th>
            <mat-form-field><input mdInput placeholder="from" [(ngModel)]="link.from"></mat-form-field>
          </th>
          <th>
            <mat-form-field><input mdInput placeholder="to" [(ngModel)]="link.to"></mat-form-field>
          </th>
          <th>
            <mat-form-field><input mdInput placeholder="weight" [(ngModel)]="link.weight" type="number"></mat-form-field>
          </th>
          <th>
            <mat-checkbox [(ngModel)]="link.directed"></mat-checkbox>
          </th>
          <th><button mat-raised-button color="warn" (click)="deleteLink(index)">Delete</button></th>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="addLink()">Add Link</button>
    <button mat-raised-button color="primary" (click)="rebuild()">Rebuild</button>
  </mat-card-actions>
</mat-card>

<mat-card class="big-card flex-stack-card">
  <mat-card-title>Graph</mat-card-title>
  <mat-card-content>
    <div id="graph-render-target"></div>
  </mat-card-content>
  <mat-card-actions>
    <label> Source:
    <select [(ngModel)]="source">
      <option *ngFor="let node of getNodesSingle()" [value]="node.data">{{node.data}}</option>
    </select>
    </label>
    <button mat-raised-button color="primary" (click)="bfsStep()">Run BFS Step</button>
    <button mat-raised-button color="primary" (click)="bfs()">Run BFS</button>
    <button mat-raised-button color="primary" (click)="dfsStep()">Run DFS Step</button>
    <button mat-raised-button color="primary" (click)="dfs()">Run DFS</button>
    <button mat-raised-button color="primary" (click)="bellmanFord()">Run Bellman Ford</button>
  </mat-card-actions>
</mat-card>

<mat-card class="big-card flex-stack-card">
  <mat-card-title>Tables</mat-card-title>
  <mat-card-content>
    <table class="table">
      <thead>
        <tr>
          <th>Node</th>
          <th>Parent</th>
          <th>Distance</th>
          <th>Color</th>
          <th>Start Time</th>
          <th>Finish Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nodePair of getNodes()">
          <td>{{nodePair[0]}}</td>
          <td>{{nodePair[1].parent ? nodePair[1].parent.data : 'Nil'}} </td>
          <td>{{nodePair[1].distance}}</td>
          <td>{{nodePair[1].colorName()}}</td>
          <td>{{nodePair[1].startTime}}</td>
          <td>{{nodePair[1].finishTime}}</td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>