<svg [attr.width]="size" [attr.height]="size">
  <!-- X Axis -->
  <line 
  [attr.x1]="axisSize" [attr.y1]="size - axisSize" 
  [attr.x2]="size"     [attr.y2]="size - axisSize" 
  stroke-width="2" stroke="black"/>

  <!-- X  Axis Label -->
  <text [attr.x]="(size )/2" [attr.y]="size" 
  font-family="Verdana" text-anchor="middle" 
  [attr.font-size]="axisSize - 1">{{xAxisLabel}}</text>

  <!-- Y  Axis -->
  <line 
  [attr.x1]="axisSize" [attr.y1]="size - axisSize" 
  [attr.x2]="axisSize" [attr.y2]="axisSize" 
  stroke-width="2" stroke="black"/>

   <!-- Y  Axis Label -->
  <text [attr.x]="axisSize /2" [attr.y]="size / 2" 
  font-family="Verdana" style="writing-mode: tb; glyph-orientation-vertical: 0;" 
  text-anchor="middle" [attr.font-size]="axisSize - 1">{{yAxisLabel}}</text>

  <!-- Points -->
  <svg:circle *ngFor="let point of data;" 
  [attr.cx]="getX(point)" 
  [attr.cy]="getY(point)" 
  [attr.r]="pointRadius" 
  mdTooltip="({{point[0]}}, {{point[1]}})"
  fill="black" />

  <!-- Lines --> 
  <line *ngFor="let line of lines;"
  [attr.x1]="getX(line.p1)" [attr.y1]="getY(line.p1)" 
  [attr.x2]="getX(line.p2)" [attr.y2]="getY(line.p2)"
  mdTooltip="y = {{line.slope | number}}x + {{line.offset | number}}"
  stroke-width="3" stroke="red"/>
</svg>