<table>
	<thead>
		<tr>
			<td>#</td>
			<td>Code</td>
			<td>Deps</td>
			<td *ngFor="let stage of getStages(); let i=index">
				{{i + 1}}
			</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let line of lines">
			<td>{{line.lineNumber}}</td>
			<td>{{line.id}}</td>
			<td>{{line.dependencyString()}}</td>
			<td *ngFor="let stage of line.stages" [class.forwarded]="line.forwards[stage]">{{stage}}</td>
		</tr>
	</tbody>
</table>
<button (click)="runCycle()">Run Cycle</button>
<button (click)="recompile()">Run All</button>
<!--
<table>
	<thead>
		<tr>
			<th>Register</th>
			<th>Owner</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let regOwner of iter(currentPipe.registers); let register=index">
			<td>{{regOwner[0]}}</td>
			<td>{{regOwner[1] ? regOwner[1].source : "unused"}}</td>
		</tr>
	</tbody>
</table>
-->
<h2>Configuration</h2>
<label>Use forwarding <input type="checkbox" [(ngModel)]="currentPipe.forwarding"></label>
<table>
	<thead>
		<tr>
			<th>Functional Unit </th>
			<th>Pipelined </th>
			<th>Execute Time </th>
			<th>Execution Units </th>
			<th>Reservation Stations</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let functionalUnit of functionalUnits">
			<td><input type="text" [(ngModel)]="functionalUnit.name"></td>
			<td><input type="checkbox" [(ngModel)]="functionalUnit.isPipelined"></td>
			<td><input type="number" [(ngModel)]="functionalUnit.executeLength"></td>
			<td><input type="number" [(ngModel)]="functionalUnit.units"></td>
			<td><input type="number" [(ngModel)]="functionalUnit.reservationStations"></td>
		</tr>
		<tr>
			<td colspan="5"><button (click)="addFU()">Add Funcitonal Unit</button> </td>
		</tr>
	</tbody>
</table>


<table>
	<thead>
		<tr>
			<th>Instruciton</th>
			<th>Uses Memory Stage</th>
			<th>Execution Lenth</th>
			<th>Functional Unit</th>
			<th>Point of Produciton</th>
			<th>Point of Consumption</th>
			<th>Stages</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let config of configs">
			<td>{{config.instruciton}}</td>
			<td><input type="checkbox" [(ngModel)]="config.hasMemory"></td>
			<td><input type="number" [(ngModel)]="config.executeLength"></td>
			<td>
				<select [(ngModel)]="config.functionalUnit">
    				<option *ngFor="let funcUnit of functionalUnits">{{funcUnit.name}}</option>
				</select>
			</td>
			<td>
				<select [(ngModel)]="config.pointOfCompletion">
    				<option *ngFor="let stage of config.resolve()">{{stage}}</option>
				</select>
			</td>
			<td>
				<select [(ngModel)]="config.pointOfConsumption">
    				<option *ngFor="let stage of config.resolve()">{{stage}}</option>
				</select>
			</td>
			<td>{{config.resolve()}}</td>
		</tr>
	</tbody>
</table>