<md-card class="big-card flex-stack-card">
  <md-card-title>MIPS Program</md-card-title>
  <md-card-content>
	  <textarea [(ngModel)]="program" rows="30" cols="60" class="text-editor"></textarea>
  </md-card-content>
</md-card>
	  
<md-card class="big-card flex-stack-card">
	<md-card-title>Funcitonal Units</md-card-title>
	<md-card-content>
		<table>
			<thead>
				<tr>
					<th>Functional Unit </th>
					<th>Pipelined </th>
					<th>Execute Time </th>
					<th>Execution Units </th>
					<th>Reservation Stations</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let functionalUnit of pipeline.functionalUnits">
					<td><md-input type="text" [(ngModel)]="functionalUnit.name"></md-input></td>
					<td><md-checkbox [(ngModel)]="functionalUnit.isPipelined"></md-checkbox></td>
					<td><md-input type="number" [(ngModel)]="functionalUnit.executeLength"></md-input></td>
					<td><md-input type="number" [(ngModel)]="functionalUnit.units"></md-input></td>
					<td><md-input type="number" [(ngModel)]="functionalUnit.stations"></md-input></td>
				</tr>
			</tbody>
		</table>
	</md-card-content>
	<md-card-actions>
		<button md-button color="primary" (click)="addFU()">Add Funcitonal Unit</button>
	</md-card-actions>
</md-card>

<md-card class="big-card flex-stack-card">
	<md-card-title>Basic Config</md-card-title>
	<md-card-content>
		<md-checkbox [(ngModel)]="pipeline.forwarding">Use forwarding</md-checkbox>
	</md-card-content>
</md-card>

<md-card class="big-card flex-stack-card">
  <md-card-title>Pipeline Diagram</md-card-title>
  <md-card-content>
	  <table>
		<thead>
			<tr>
				<td>#</td>
				<td>Code</td>
				<td>Deps</td>
				<td *ngFor="let stage of getStages(); let i=index">
					{{i + 1}}
				</td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let line of lines">
				<td>{{line.lineNumber}}</td>
				<td>{{line.id}}</td>
				<td>{{line.dependencyString()}}</td>
				<td *ngFor="let stage of line.stages; let i = index" [class.forwarded]="line.forwards[i]">{{stage}}</td>
			</tr>
		</tbody>
	</table>
  </md-card-content>
  <md-card-actions>
	  <button md-button color="primary" (click)="runCycle()">Run Cycle</button>
	  <button md-button color="primary" (click)="recompile()">Run All</button>
  </md-card-actions>
</md-card>



<md-card class="big-card flex-stack-card">
  <md-card-title>Instruciton Configuration</md-card-title>
  <md-card-content>
	  <table>
		<thead>
			<tr>
				<th>Instruciton</th>
				<th>Uses Memory Stage</th>
				<th>Functional Unit</th>
				<th>Point of Produciton</th>
				<th>Point of Consumption</th>
				<th>Stages</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let config of pipeline.instructionConfigurations">
				<td>{{config.instruciton}}</td>
				<td><md-checkbox [(ngModel)]="config.hasMemory"></md-checkbox></td>
				<td>
					<select [(ngModel)]="config.functionalUnit">
						<option *ngFor="let funcUnit of pipeline.functionalUnits" [ngValue]="funcUnit">{{funcUnit.name}}</option>
					</select>
				</td>
				<td>
					<select [(ngModel)]="config.pointOfCompletion">
						<option *ngFor="let stage of config.resolve()">{{stage}}</option>
					</select>
				</td>
				<td>
					<select [(ngModel)]="config.pointOfConsumption">
						<option *ngFor="let stage of config.resolve()">{{stage}}</option>
					</select>
				</td>
				<td>{{config.resolve()}}</td>
			</tr>
		</tbody>
	</table>
  </md-card-content>
</md-card>
<!--

-->


