/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    margin: 0px;
}

.big-card {
    margin: 15px;
}

.flex-stack-card {
    max-width: 100%;
    float: left;
}

.row {
    width: 100%;
    overflow: hidden;
}

.button-link {
    color: black;
}

.horizontal-table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

.horizontal-table th {
    border-bottom: 2px solid gray;
    padding-right: 2px;
    padding-left: 2px;
}

.horizontal-table td {
    padding-top: 8px;
    padding-bottom: 8px;
    border: 0.5px solid lightgray;
}

.lr {
    border-left: gray;
    border-left-style: solid;
    border-left-width: 2px;
}