<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="start">
  <mat-card class="big-card flex-item">
    <mat-card-title>Set Membership Table</mat-card-title>
    <mat-card-subtitle>Status: Experimental</mat-card-subtitle>
    <mat-card-content>
      <p>Parses set expressions and uses them to generate set membership tables. </p>
      <p>Can be used as a tool to check if two sets are algebraically equivalent. </p>
    </mat-card-content>
    <mat-card-actions>
      <a class="button-link" routerLink="/set-algebra" routerLinkActive="active">
        <button mat-button>Goto</button>
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="big-card flex-item">
    <mat-card-title>Stable Marriage</mat-card-title>
    <mat-card-subtitle>Status: Experimental</mat-card-subtitle>
    <mat-card-content>
      <p>Visualization of the Gale Shapley stable marriage algorithm on random groups.</p>
      <p>You can see the bias created by the algorithm towards the group that gets to propose.</p>
    </mat-card-content>
    <mat-card-actions>
      <a class="button-link"  routerLink="/stable-marriage" routerLinkActive="active">
        <button mat-button>Goto</button>
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="big-card flex-item">
    <mat-card-title>Cache Simulator</mat-card-title>
    <mat-card-subtitle>Status: Probably Stable</mat-card-subtitle>
    <mat-card-content>
      <p>Cache Simulator which can simulate memory accesses displaying the result of each line of code and the status of the
        cache.
      </p>
      <p>You can configure the cache size, set associativity, address size, addressing type, block size and replacement policy.</p>
    </mat-card-content>
    <mat-card-actions>
      <a class="button-link"  routerLink="/cache" routerLinkActive="active">
        <button mat-button>Goto</button>
      </a>
    </mat-card-actions>
  </mat-card>
</div>

<div class="flex-container" fxLayout="grid" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start">
  <mat-card class="big-card flex-item">
    <mat-card-title>Pipeline Diagram Generator</mat-card-title>
    <mat-card-subtitle>Status: Experimental</mat-card-subtitle>
    <mat-card-content>
      <p>Pipeline simulator which can generate pipeline diagrams from snippets of MIPS code (not all valid MIPS code will work).
      </p>
      <p>You can activate or disable forwarding as well as configure the runtime of each instruction and what functional unit
        they use.</p>
    </mat-card-content>
    <mat-card-actions>
      <a class="button-link"  routerLink="/pipe" routerLinkActive="active">
        <button mat-button>Goto</button>
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="big-card flex-item">
    <mat-card-title>Graph Search</mat-card-title>
    <mat-card-subtitle>Status: Probably Stable</mat-card-subtitle>
    <mat-card-content>
      <p>Visual Graph which can be used to run breadth or depth first search on directed or undirected graphs.</p>
      <p>You can run each algorithm step by step and see how the colors and tables (parent, discovered, finished, ect) change
        over time.</p>
    </mat-card-content>
    <mat-card-actions>
      <a class="button-link"  routerLink="/graph" routerLinkActive="active">
        <button mat-button>Goto</button>
      </a>
    </mat-card-actions>
  </mat-card>


  <mat-card class="big-card flex-item">
    <mat-card-title>Minimax</mat-card-title>
    <mat-card-subtitle>Status: Probably Stable</mat-card-subtitle>
    <mat-card-content>
      <p>Demonstration of the minimax algorithm with tic-tac-toe</p>
      <p>Eventually I would like to add other games and algorithms</p>
    </mat-card-content>
    <mat-card-actions>
      <a class="button-link"  routerLink="/ai-games" routerLinkActive="active">
        <button mat-button>Goto</button>
      </a>
    </mat-card-actions>
  </mat-card>

</div>